version: 2
jobs:
  build:
    working_directory: ~/wayback-discover-diff
    docker:
      - image: circleci/python:3.5
    steps:
      - checkout

      - run:
          name: Install Dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            python setup.py develop

      - run:
          name: Tests
          command: |
            . venv/bin/activate
            pytest tests
      - run:
          name: Code linting
          command: |
            . venv/bin/activate
            pylint wayback_discover_diff

workflows:
  version: 2
  build:
    jobs:
      - build
